body{
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
}
.boxOmega{
  display: flex;
  align-items:  center;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  height: 1000px;
  width: 100%;
  background-color: black;
  top: 0px;
  left: 0px;
  border: 1px solid white;
}
.other{
  margin-top: 1030px;
}

.Paragraphs p{
  padding-left: 50px;
  font-family: "Courier New", Courier, monospace;
  color: black;
}
/*.s1:hover{
  background: black;
  animation-name: fade;
  animation-duration: 10s;
  animation-fill-mode: forwards;*/
}
.s1{
  height: 100
}
.s1 h2{
  font-family: "Courier New", Courier, monospace;
  color: white;
}
@keyframes fade {
  0% {background-color: white}
  100% {background-color: black}
}
.Paragraphs{
  width: 100%;
  background-position: center;
  background: cover;
  margin-bottom: 50px;
}
.Paragraphs p{
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  text-align: center;
  padding-left: 0px;
}

.heading h2{
  padding: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 35%;
  font-size: 70px;
  color: white;
}
.heading{
  width: 100%;
  height: 140px;
  background-color: black;
}


.h2 h1{
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 75px;
}
.h2{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: black;
  margin-bottom: 50px;
  background: cover;
  background-position: center;
}
.twenty-2{
  text-align: center;
  padding-left: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
.twenty-2{
  color: black;
}
/*.First:hover{
  border: 1px solid black;
  animation-name: fade2;
  animation-duration: 20s;
  animation-fill-mode: forwards;*/
}

@keyframes fade2 {
  0% {background-color: white}
  100% {background-color: black}
}
.Links{
  position: fixed;
  z-index: 3;
  top: 0px;
  right: 0px;
  margin-right: 65%;
}
.inner-list ul li{
  font-family: monospace;
  color: white;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  list-style-type: none;
  width: 200px;
  font-size: 20px;
  border: 3px solid dimgray;
  padding-bottom: 10px;
  background-color: lightgreen;
  margin-left: 2px;
}

.inner-list ul{
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: auto;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.yin-yang{
  position: relative;
  top: 100px;
    height: 400px;
  width: 790px;
  background-color: white;
  border: solid black;
  border-width: 2px 2px 400px 2px;
  border-radius: 50%;
  animation: rotate 4s linear infinite;
}
.yin-yang:before{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  border: 137.5px solid black;
  top: 50%;
  left: 0;
}

.yin-yang:after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  border: 137.5px solid white;
  top: 50%;
  right: 0;
}

@keyframes rotate{
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
/*This section applies too Specialty.html*/
.box{
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 900px;
  margin-bottom: 20px;
  margin-left: 210px;
  position: relative;
}
.label{
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Courier New", Courier, monospace	;
  font-size: 25px;
  position: absolute;
  left: -215px;
  top: -23px;
  height: 27px;
  width: 200px;
  background-color: black;
  border: 1px solid white;
}
.box1{
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 900px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 210px;
}
.box2{
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 900px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 210px;
}
.box3{
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 900px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 210px;
}
.box4{
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 900px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 210px;
}
.box5{
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 900px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 210px;
}
.box6{
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 900px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 210px;
}
.bar{
  background-color: black;
  height: 100%;
  width: 90%;
  animation-name: slide1;
  animation-duration: 1s;
}
.bar2{
  background-color: black;
  height: 100%;
  width: 90%;
  animation-name: slide2;
  animation-duration: 2s;
}
.bar3{
  background-color: black;
  height: 100%;
  width: 50%;
  animation-name: slide3;
  animation-duration: 3s;
}
.bar4{
  background-color: black;
  height: 100%;
  width: 20%;
  animation-name: slide4;
  animation-duration: 4s;
}
.bar5{
  background-color: black;
  height: 100%;
  width: 60%;
  animation-name: slide5;
  animation-duration: 5s;
}
.bar6{
  background-color: black;
  height: 100%;
  width: 60%;
  animation-name: slide6;
  animation-duration: 7s;
}
@keyframes slide1 {
  from{
    width: 0%
  }
  to{
    width: 90%
  }
}
@keyframes slide2 {
  from{
    width: 0%
  }
  to{
    width: 90%
  }
}
@keyframes slide3 {
  from{
    width: 0%
  }
  to{
    width: 50%
  }
}
@keyframes slide4 {
  from{
    width: 0%
  }
  to{
    width: 20%
  }
}
@keyframes slide5 {
  from{
    width: 0%
  }
  to{
    width: 60%
  }
}
@keyframes slide6 {
  from{
    width: 0%
  }
  to{
    width: 60%
  }
}

.section1{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  background: cover;
  background-position: center;
  background-color: black;
  height: 300px;
}
.section1 h2{
  font-family: "Courier New", Courier, monospace	;
  font-size: 75px;
  color: white;
}
.alpha-box p{
  color: white;
  font-family: monospace;
  padding-left: 10px;
  font-size: 25px;
}
.alpha-box p:hover{
  animation-name: fade;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
@keyframes fade{
  0%{color:white}
  100%{color:black}
}
.p-h{
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  background: cover;
  background-position: center;
  background-color: black;
}
.p-h{
  color: white;
  font-family: monospace;
}
.section2 p{
  font-family: monospace;
  font-size: 25px;
  padding-left: 10px;
  color: white;
}
.section2 p:hover{
  animation-name: fade;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
.p-h-2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  background: cover;
  background-position: center;
  background-color: black;
}
.p-h-2 h2{
  font-family: monospace;
   color: white;
}
/*This Section of CSS applies to More.HTML*/

.heading-more h2{
  padding: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 30%;
  font-size: 70px;
  color: white;
}
.heading-more{
  width: 100%;
  height: 140px;
  background-color: black;
}

.heading-more-3 h2{
  padding: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 38%;
  font-size: 70px;
  color: white;
}
.heading-more-3{
  width: 100%;
  height: 140px;
  background-color: black;
}
.heading-more-1 h2{
  padding: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 38%;
  font-size: 70px;
  color: white;
}
.heading-more-1{
  width: 100%;
  height: 140px;
  background-color: black;
}
/*Experience-Skills.HTML*/
.heading-experience h2{
  padding: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 35%;
  font-size: 70px;
  color: white;
}
.heading-experience{
  width: 100%;
  height: 140px;
  background-color: black;
}

.heading-experience-1 h2{
  padding: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 30%;
  font-size: 70px;
  color: white;
}
.heading-experience-1{
  width: 100%;
  height: 140px;
  background-color: black;
}
/*Project-History.HTML*/


.section1-ph{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  background: cover;
  background-position: center;
  background-color: black;
  height: 300px;
}
.section1-ph h2{
  font-family: "Courier New", Courier, monospace	;
  font-size: 75px;
  color: white;
}

.website-link{
  position: relative;
  height: 200px;
  width: 40%;
  background-color: white;
  border: 1px solid black;
  background-image: url(background-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.link-list{
  position: absolute;
  left: 10px;
  top: 1500px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.link-list a{
  font-family: "Courier New", Courier, monospace	;
  font-size: 55px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 35%;
  right: 25%;
}
.history-body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.website-link:hover {
  animation-name: box-expand;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes box-expand {
  0%{box-shadow: 10px 10px;
  width: 40%}
  10%{box-shadow: 10px 10px;
  width: 60%}
  20%{box-shadow: 10px 10px;
  width: 80%}
  100%{box-shadow: 10px 10px;
  width: 100%}
}
.code-snippet{
  position: absolute;
  left: 0px;
  top: 300px;
  height: 300px;
  width: 500px;
  background-image: url(background-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.code-snippet:hover{
  overflow-y: scroll;
  animation-name: expansion;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes expansion{
  0%{width: 25%;
    height: 25%;
  box-shadow: 10px 10px;}
  100%{width: 45%;
    height: 45%;
  box-shadow: 10px 10px;}
}
/*This section applies to Social-Media*/
.facebook{
  position: relative;
  display: flex;
  justify-content: center;
  height: 263px;
  width: 469px;
  background-color: #4267B2;
}
.facebook a{
  margin-top: 10%;
  font-size: 40px;
}
.social-media{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 70px;
  top: 900px;
}
.facebook:hover{
  font-size: 50px;
  animation-name: expansion;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.facebook:hover img{
  right: 43%;
}

.facebook img{
  position: absolute;
  bottom: 0px;
  right: 40%;
  height: 100px;
  width: 100px;
}

.discord{
  position: relative;
  left: 50%;
  display: flex;
  justify-content: center;
  height: 263px;
  width: 469px;
  background-color: #5A74CC;
}
.discord a{
  margin-bottom: 10%;
  margin-top: 5%;
  font-size: 50px;
}
.discord:hover{
  font-size: 50px;
  animation-name: expand;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.discord:hover img{
  right: 30%;
  height: 200px;
  width: 200px;
}

.discord img{
  position: absolute;
  bottom: 0px;
  right: 40%;
  height: 100px;
  width: 100px;
}

@keyframes expand{
  0%{width: 469px;
  height: 263px;
box-shadow: 10px 10px;}
  100%{ width: 45%;
  height: 500px;
box-shadow: 10px 10px;}
}

.github{
  position: relative;
  top: 170px;
  left: 5%;
    display: flex;
  justify-content: center;
  height: 263px;
  width: 469px;
  background-color: black;
}
.github a{
  margin-bottom: 10%;
  margin-top: 5%;
  font-size: 50px;
}
.github:hover{
  font-size: 50px;
  animation-name: elongate;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.github:hover .github-box{
  right: 47%;
}
.github img{
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100px;
}
.github-box{
  position: absolute;
  bottom: 0px;
  right: 40%;
  display: flex;
  height: 100px;
  width: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}
@keyframes elongate {
  0%{ width: 469px;
  box-shadow: 10px 10px;}
  100%{width: 80%;
  box-shadow: 10px 10px;}
}
