.background{
  height: 60vw;
  width: 60vw;
  perspective: 300px;
  position: absolute;
  left: 20vw;
  top: 50px;
}
.nav-bar{
  display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 20%;
    position: absolute;
    left: 35vw;
    background: black;
    margin: 0;
    padding: 0;
    z-index: 1;
}


#move{
  background-color: black;
  color: #0EE2F2;
  border: none;
  position: relative;
  padding: none;
  z-index: 1;
  border: 1px solid #0EE2F2;
}
.cube{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  color: #0EE2F2;
}
.experience-summary{
  transform:rotateY(-180deg);
  background-color: #0EE2F2;
  height: 70%;
  width: 70%;
  top: 27%;
  left: 15%;
  position: absolute;
  color: black;
  font-size: 30px;

}
.display-screen{
  transform:translateZ(-25vw) rotateY(0deg);
  background-color: #0EE2F2;
  position: absolute;
  height: 50%;
  width:  80%;
  top: 40%;
  left: 10%;
  font-size: 30px;
}
.reference-info{
  position: absolute;
  top: 1%;
  left: 1%;
  list-style: none;
  color: black;
  visibility: hidden;
}
#about{
  transform:translateZ(20vw) rotateY(-180deg);
  top: 60%;
}
#references{
  transform:translateZ(-25vw) rotateY(0deg);
  top: 10%;
}
#skills{
  transform:translateX(-27vw) rotateY(90deg);
}
#projects{
  transform:translateX(25vw) rotateY(-90deg);
  top: 10%;
  left: 5%;
}
.personal-info{
font-size: 30px;
position: absolute;
top: 50%;
right: 30%;
height: 20vw;
font-family: monospace;
background-color: transparent;
list-style-type: none;
color: black;
}
.front-text{
  border: 1px solid black;
  margin-bottom: 5px;
  background-color: #0EE2F2;
  color: black;
}
.front-text:hover{
  border: 5px outset lightblue;
}
.side{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #0EE2F2;
  background-color: black;
}
.front{
   transform: rotateY( 0deg) translateZ(30.20vw);
   text-align: center;
   /*background-color: red;*/
}
.back{
   transform: rotateY(180deg) translateZ(30.20vw);
   /*background-color: blue;*/
}
.right{
   transform: rotateY(90deg) translateZ(30.20vw);
   /*background-color: yellow;*/
}
.left{
   transform: rotateY(-90deg) translateZ(30.20vw);
   /*background-color: brown;*/
}
.bottom{
  transform: rotateX(-90deg) translateZ(30.20vw);
  /*background-color: purple;*/
}
.top{
  transform: rotateX(90deg) translateZ(30.20vw);
  /*background-color: magenta;*/
}



.space{
  background-color: black;
}
img{
  height: 30vw;
  width: 30vw;
  position: absolute;
  transform: rotateY(-180deg);
  font-size: 30px;
  position: absolute;
  top: 1%;
  right: 25%;
}
iframe{
  transform:translateX(-27vw) rotateY(90deg);
  background-color: #0EE2F2;
  bottom: 30%;
}
